body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    background: #2d2d44;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
}

h1 {
    margin-bottom: 30px;
}

.buttons button {
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:hover {
    background: #00adb5;
    color: white;
}

#result {
    font-size: 20px;
    margin: 25px;
}

.score {
    font-size: 18px;
    margin-top: 25px;
}

.reset {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #ff4757;
    color: white;
    cursor: pointer;
}

.reset:hover {
    background: #ff6b81;
}
